#logo{
  position: relative;
  width: 100px;
  height: 50px;
  background:blue;
  left: -100%;
  transition: 1s ease;
}
#caja2{
  position: relative;
  width: 200px;
  height: 200px;
  background: blue;
  left: 100%;
  transition: 1s ease;
}
#caja3{
  position: relative;
  width: 200px;
  height: 200px;
  background: yellow;
  right:  100%;
  transition: 1s ease;
}
